@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    font-family: 'Montserrat', sans-serif;
    /* Source is https://wallpaperscraft.com/download/grid_circles_metal_dark_texture_36214/1440x900*/
    background-image: url('pattern.jpg');
}

h1{
    text-align: center;
    margin: 10px;
    margin-bottom: 50px;
}

footer, .text{
    margin: 0 auto;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 100px;
}

footer{
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text{
    font-size: 19px;
    text-align: left;
}

#picture{
    margin-left: 50px;
    margin-right: 10%;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-circle{
    border-radius: 50%;
}

header{
    margin: 30px;
}

.box{
    background-color: white;
    overflow: auto;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
}